<header>
    <% if (user) { %>
        <div id="user-info">
            <span>Welcome, <%= user.given_name %>!</span>
            <a href="/logout">Logout</a>
        </div>
    <% } else { %>
        <div id="login">
            <a href="/login">Login</a>
        </div>
    <% } %>
</header>