<header>
    <% if (user) { %>
        <div id="user-info">
            <span>Welcome, <%= user.given_name %>!</span>
            <a href="/login/logout">Logout</a>
        </div>
        <% } else { %>
            <div id="login">
                <p>Please log in to access all features.</p>
            </div>
            <% } %>
</header>